{% extends "base.html" %}
{% block content %}
    <div class="title">
        <h1>Forum</h1>
    </div>
    <hr class="line">
 
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <p class="username_title">{{ post.author.username }}</p>
                    <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
             <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

        {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn_colorandstuff1" href="{{url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% else%}
            <a class="btn_colorandstuff" href="{{url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}

    {% endfor %}
    <p>{{ username }}</p>
{% endblock content %}